<canvas id="canvas"></canvas>
<div id="toolbar">
  <button class='color'>
  </button>
</div>
<script>
  var __width = {{width}}
  var __height = {{height}}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js" type='text/javascript'></script>
<script src="http://{{source}}/static/pix.js" type='text/javascript'></script>
<script src="http://{{source}}/static/network.js" type='text/javascript'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  var socket = io('http://{{source}}');
  var pixNet = new PixNet(socket)
  var pix = new Pix(document.getElementById('canvas'),__height,__width)
  pixNet.setRender(pix)
  pix.setNetwork(pixNet)
  window.addEventListener('keydown', pix.handleKey)
  window.addEventListener('click', pix.handleClick)
  pix.manualRedraw()
  //pix.drawPoint(0,1,'#FF0000')
</script>
